.buttonStyle {
  height: 100%;
  width: 33.3%;
  border: none;
  background: darkgrey;
    font-size: 27px;
}
.buttonStyle:active {
  opacity: 0.8;
}
.buttonSymbole {
  height: 100%;
width: 100%;
background: orange;
border: none;
    font-size: 20px;
}
.buttonSymbole:active {
  opacity: 0.8;  
}
.buttonStyle2 {
width: 100%;
height: 100%;
}
